@using (Html.BeginForm(
    "Search",
    "Mojave",
    FormMethod.Get,
    new {id = "search-form"}))

{
    <p>
        @Html.TextBox("s")
    </p>
    <p>
        <input value="Search" type="submit"/>
    </p>

}
