@model MojaveBlog.Models.ListViewModel

<div id="content">
    <h1>@ViewBag.Title</h1>

    @if (Model.Posts.Count > 0)
    {
        Html.Partial("_Pager", Model);

        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate",post)


        }
    }
    else
    {
        <p>Записей не найдено!</p>
    }

    @Html.Partial("_Pager", Model)






</div>


